conf/acl.auth.php
conf/local.php
conf/plugins.local.php
conf/users.auth.php

conf/plugins.local.php.bak
conf/local.php.bak

.idea
nbproject/
vendor/

obs-diffs/
exports/*

lib/plugins/ckgedit/fckeditor/userfiles/file
lib/plugins/ckgedit/fckeditor/userfiles/flash
lib/plugins/ckgedit/fckeditor/userfiles/image
lib/plugins/ckgedit/fckeditor/userfiles/media
lib/plugins/slackinvite/slackinvite.private.php

composer.lock
