[submodule "lib/plugins/enhancedindexer"]
	path = lib/plugins/enhancedindexer
	url = https://github.com/unfoldingWord-dev/dokuwiki-enhancedindexer
[submodule "lib/plugins/pagequery"]
	path = lib/plugins/pagequery
	url = https://github.com/superdav42/pagequery
[submodule "lib/plugins/gitcommit"]
	path = lib/plugins/gitcommit
	url = https://github.com/unfoldingWord-dev/dw-gitcommit
[submodule "lib/plugins/nsmsg"]
	path = lib/plugins/nsmsg
	url = https://github.com/unfoldingWord-dev/nsmsg
[submodule "lib/plugins/usfmtag"]
	path = lib/plugins/usfmtag
	url = https://github.com/unfoldingWord-dev/Dokuwiki-USFMTag
[submodule "lib/plugins/setedit"]
	path = lib/plugins/setedit
	url = https://github.com/yvonnel098/setedit
[submodule "dokuwiki-plugin-namespace-export"]
	path = dokuwiki-plugin-namespace-export
	url = https://github.com/In-the-World/dokuwiki-plugin-namespace-export
