# users.auth.php
# <?php exit()?>
# Don't modify the lines above
#
# Userfile
#
# Format:
#
# login:passwordhash:Real Name:email:groups,comma,seperated

# User: admin; password: admin
admin:21232f297a57a5a743894a0e4a801fc3:Administrator:admin@test.door43.org:admin,user
