@import url(http://fonts.googleapis.com/css?family=Noto%20Sans:400,700,400italic);

/*
 * TEXT
 */

body, p { font-family: 'Noto Sans', sans-serif; font-weight: 400; }
h1, h2, h3, h4 { font-family: 'Noto Sans', sans-serif; font-weight: 700; }

.dokuwiki .docInfo { color: #aaa; }

/*
 * IMAGES
 */

.dokuwiki img.media { margin-top: .8em; margin-bottom: 0em;}

img.download { opacity: 0.5; }